/* -------------------------------------------- */
/* ----------- Pagination: Digg Style --------- */
/* -------------------------------------------- */
#pagination-digg {float: right}
#pagination-digg li          { border:0; margin:0; padding:0; font: normal 12px/15px "Times New Roman"; list-style:none; /* savers */ float:left; }
#pagination-digg a           { border:solid 1px #9aafe5; margin-right:2px; }
#pagination-digg .previous-off,
#pagination-digg .next-off   { border:solid 1px #DEDEDE; color:#888888; display:block; float:left; margin-right:2px; padding:4px 4px; }
#pagination-digg .next a,
#pagination-digg .previous a { font-weight:bold; }	
#pagination-digg .active     { background:#2e6ab1; color:#FFFFFF; font-weight:bold; display:block; float:left; padding:5px 7px; /* savers */ margin-right:2px; }
#pagination-digg a:link, 
#pagination-digg a:visited   { color:#0e509e; display:block; float:left; padding:4px 6px; text-decoration:none; }
#pagination-digg a:hover     { border:solid 1px #0e509e; }

#pagination-digg .size a,
#pagination-digg .size		 { font: bold 12px/15px normal; }
#pagination-digg .go{margin-left:2px;}
#pagination-digg .page {border:solid 1px #9aafe5;height:23px;height:25px \9;}/**此处用了个Hack**/
#pagination-digg .page input{color:#0e509e;font: normal 13px/15px "Times New Roman";padding-top:4px;}
#pagination-digg .ipage{border:none;width:15px;text-align:right;}
#pagination-digg .itotal{border:none;width:22px;text-align:left;}


